[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
vcrpy = "*"
pandas = "*"
coveralls = "*"
u-msgpack-python = "*"
nose = "*"
tox = "*"
geopy = "*"
falcon = "*"
simplejson = "*"
json-logging-py = "*"
gunicorn = "*"
pyxylookup = {git = "https://github.com/iobis/pyxylookup.git"}

[dev-packages]

[requires]
python_version = "3.6"
